* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

html, body {
  font-family: system-ui, sans-serif;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
