html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

body {
  background-color: #fdfdfc;
  position: relative;
  max-width: 36rem;
  margin: 0 auto;
  padding: 2rem;
}

* {
  line-height: calc(1em + 1ex);
  box-sizing: border-box;
}

.enter {
  animation: move 1s;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translate(0, 50px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

strong {
  font-weight: bolder;
}

h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  font-size: 3em;
  line-height: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.33em;
  margin: 6rem 0 1rem;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 3rem 0;
  text-align: center;
}

.anchor {
  visibility: hidden;
  vertical-align: middle;
  font-size: 1rem;
  width: 1em;
  margin-right: 0.5em;
  margin-left: -1.5em;
  color: inherit;
}

:hover > .anchor {
  visibility: visible;
}

main {
  counter-reset: toc;
}

main h1 + p {
  text-align: center;
}

#contents::before {
  content: '';
}

#contents + ul {
  list-style: decimal;
}

main h3:not(#contents) {
  counter-increment: toc;
}

main h3::before {
  content: counter(toc) '. ';
}

main h3:not(#contents) .anchor {
  margin-left: -3.5em;
  margin-right: 2.75em;
}

h3:target,
.hl,
.anchor,
a {
  color: hsl(212, 97%, 43%);
}

.anchor:hover,
header a {
  color: inherit;
}

a {
  text-decoration: none;
  transition: color 200ms;
}

a:hover .hl,
a:focus .hl {
  transition: color 200ms;
}

a:hover .hl.unified,
a:hover .hl.unist,
a:hover .hl.vfile,
a:focus .hl.unified,
a:focus .hl.unist,
a:focus .hl.vfile {
  color: hsl(212, 97%, 43%);
}

a:hover .hl.remark,
a:hover .hl.mdast,
a:focus .hl.remark,
a:focus .hl.mdast {
  color: hsl(0, 97%, 43%);
}

a:hover .hl.retext,
a:hover .hl.nlcst,
a:focus .hl.retext,
a:focus .hl.nlcst {
  color: hsl(120, 97%, 43%);
}

a:hover .hl.rehype,
a:hover .hl.hast,
a:focus .hl.rehype,
a:focus .hl.hast {
  color: hsl(45, 97%, 43%);
}

a:hover,
a:focus,
a:target {
  color: initial;
}

abbr {
  border-bottom: 1px dotted transparent;
  text-decoration: none;
}

abbr.first {
  border-bottom-color: #ccc;
}

blockquote {
  font-style: italic;
  margin-left: -1.25rem;
  margin-right: 0;
  padding-left: 1rem;
  border-left: 0.25rem solid rgb(255, 95, 86);
}

pre,
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: small;
}

p code,
li code {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.2em 0.4em;
}

p {
  margin-top: calc(1em + 1ex);
  margin-bottom: calc(1em + 1ex);
}

ol,
ul {
  padding: 0;
}

.pull {
  font-weight: 200;
  font-size: 1.5em;
}

.announcement {
  background-color: rgba(3, 103, 216, 0.2);
  padding: 0 calc(1em + 1ex);
  border-radius: 3px;
  border: 1px solid #0367d8;
  text-align: center;
}

.announcement a {
  font-weight: bold;
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  margin: -1rem;
  margin-top: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px #aaa solid;
  text-align: center;
}

footer > :first-child {
  margin-top: 0;
}

footer > :last-child {
  margin-bottom: 0;
}

@media (min-width: 36em) {
  h1 {
    margin-top: 8rem;
  }

  .pull {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.window {
  margin: 2em auto;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.02);
}

.window figcaption {
  display: -webkit-flex;
  display: flex;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  padding-right: 66px;
  padding-left: 12px;
}

.window pre {
  padding: 7px 12px;
  margin: 0;
  line-height: 1.6;
  overflow: scroll;
}

.chrome.button {
  display: inline-block;
  border-radius: 50%;
  min-width: 12px;
  height: 12px;
  margin: 12px 6px;
  margin-left: 0;
}

.chrome.close {
  background-color: #ff5f56;
  cursor: pointer;
}

.chrome.minimize {
  background-color: #ffbd2e;
}

.chrome.fullscreen {
  background-color: #27c93f;
}

.chrome.title {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
}

.gist,
.browser {
  border-color: #ddd;
  color: #777;
  background-color: #fdfdfc;
}

.gist figcaption,
.browser figcaption {
  background: #fafafa;
  border-bottom-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.gist pre {
  color: #777;
}

.gist .chrome.button {
  background-color: #ccc;
}

.browser div {
  color: initial;
  padding: 6px;
  font-size: 14px;
  line-height: 1.5;
}

.browser .chrome.button {
  opacity: 0.5;
}

.browser .chrome.title {
  font-size: 12px;
}

.browser .chrome.title a,
.browser .chrome.title .link {
  background-color: rgba(0, 0, 0, 0.05);
  color: #777;
  border-radius: 4px;
  padding: 0.25em 2em;
  margin: 0.5em auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  max-width: 20em;
}

.browser .chrome.title a::before {
  content: '+';
  position: absolute;
  left: 0.5em;
  top: 0.35em;
  display: block;
  border-radius: 100%;
  border: 1px solid currentcolor;
  width: 1em;
  height: 1em;
  line-height: 1;
  padding-left: 0.05em;
  padding-bottom: 0.05em;
  opacity: 0;
  transition: opacity 200ms;
}

.browser .chrome.title a:hover::before,
.browser .chrome.title a:focus::before {
  opacity: 1;
}

.terminal {
  color: #93a1a1;
  background-color: #002b36;
  border-width: 0;
}

.terminal figcaption {
  border-bottom-color: #073642;
  color: #657b83;
}

.terminal .command::before,
.terminal .input::before {
  content: '$ ';
  font-weight: bold;
}

.terminal .input {
  font-weight: bold;
}

.terminal .hl {
  color: #b58900;
}

.terminal .nok {
  color: #dc322f;
}

.terminal .ll {
  color: #586e75;
}

.terminal .chrome.close {
  background-color: #dc322f;
}

.terminal .chrome.minimize {
  background-color: #b58900;
}

.terminal .chrome.fullscreen {
  background-color: #859900;
}

.caret {
  font-weight: bold;
}

.caret.blink {
  animation: blink 1s linear infinite;
  opacity: 1;
}

@keyframes blink {
  0%,
  49% { opacity: 0; }

  50%,
  100% { opacity: 1; }
}

.gallery {
  position: relative;
}

.gallery .window pre {
  min-height: 400px;
}

.gallery .window:first-child,
.gallery .window:last-child {
  position: absolute;
  top: 0;
  width: 80%;
  z-index: -1;
}

@media (max-width: 78em) {
  .gallery .window:first-child,
  .gallery .window:last-child {
    display: none;
  }
}

.gallery .window:first-child pre,
.gallery .window:last-child pre {
  height: 500px;
  opacity: 0.5;
  overflow: hidden;
}

.gallery .window:first-child {
  transform: scale(0.7) translate(-98%, 5%);
  transform-origin: 0% 0%;
}

.gallery .window:last-child {
  transform: scale(0.7) translate(130%, 5%);
  transform-origin: 100% 0%;
}

.thumbnails {
  margin: 2rem auto;
}

@media (min-width: 60em) {
  .thumbnails {
    margin: 6rem auto;
    display: -webkit-flex;
    display: flex;
    margin-left: -10rem;
    margin-right: -10rem;
  }
}

.thumbnail {
  -webkit-flex: 1;
  flex: 1;
  margin: 2em;
  margin-top: 0;
}

.thumbnail-content {
  width: 160px;
  height: 160px;
  margin: auto;
  text-align: center;
  margin-bottom: 16px;
  position: relative;
  background-repeat: no-repeat;
  background-size: 90%;
  border-radius: 50%;
  background-position: center;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.02);
}

.gold .thumbnail-content {
  background-color: rgba(218, 165, 32, 0.2);
  box-shadow: 0 0 0 3px rgba(218, 165, 32, 0.4);
}

.sponsors .thumbnail:not(.gold) .thumbnail-content {
  width: 120px;
  height: 120px;
}

@media (min-width: 60em) {
  .sponsors .thumbnails + .thumbnails {
    margin-top: -3rem;
  }
}

.thumbnail-caption {
  max-width: 20em;
  margin: auto;
  font-size: 14px;
  line-height: calc(1em + 2ex);
  text-align: center;
}

.guide {
  color: inherit;
  display: block;
  border-radius: 3px;
  margin: calc(2em + 2ex) 0;
  padding: calc(2em + 2ex) 0;
  background-color: transparent;
  box-shadow: 0 0 0 3px transparent;
  border-color: transparent;
  transition: color 200ms, box-shadow 200ms, border-color 200ms;
  text-align: center;
  position: relative;
}

.guide .window {
  text-align: left;
  transform: scale(0.5);
  transform-origin: 50%;
  margin: -5em auto;
  height: 20em;
  overflow: hidden;
  border-radius: 100%;
  width: 20em;
}

.guide .window pre {
  overflow: hidden;
}

.guide:hover {
  color: hsl(212, 97%, 43%);
}

.guide h2 {
  font-size: 2em;
  margin-bottom: calc(0.5em + 0.5ex);
}

.guide > :first-child {
  margin-top: 0;
}

.guide > :last-child {
  margin-bottom: 0;
}

.guide + .guide::before,
.guide + .guide::after {
  position: absolute;
  color: #aaa;
  line-height: 1;
  top: 0;
}

.guide + .guide::before {
  content: '';
  margin-top: -0.5em;
  border-top: 1px solid currentcolor;
  left: calc(2em + 2ex);
  right: calc(2em + 2ex);
}

.guide + .guide::after {
  content: 'ยง';
  margin-top: -1em;
  margin-left: -0.5em;
  background-color: white;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.hljs-addition::before { content: '+'; }
.hljs-deletion::before { content: '-'; }

.language-html { color: #222; }
.hljs-keyword { color: hsl(332, 70%, 45%); }
.hljs-number { color: hsl(332, 70%, 45%); }
.hljs-built_in { color: hsl(195, 100%, 35%); }
.hljs-attribute { color: hsl(195, 100%, 35%); }
.hljs-literal { color: hsl(195, 100%, 35%); }
.hljs-section { color: hsl(225, 72%, 35%); }
.hljs-string { color: hsl(225, 72%, 35%); }
.hljs-params { color: black; }
.hljs-strong { color: black; }
.hljs-code { color: hsl(264, 28%, 35%); }
.hljs-selector-class { color: hsl(264, 28%, 35%); }
.hljs-meta { color: hsl(40, 58%, 35%); }
.hljs-name { color: hsl(114, 28%, 35%); }
.hljs-attr { color: hsl(264, 50%, 50%); }
.hljs-tag { color: #777; }
.hljs-selector-tag { color: hsl(114, 28%, 55%); }
.language-html .hljs-name { color: hsl(114, 28%, 55%); }
.language-html .hljs-attr { color: hsl(264, 50%, 70%); }
.language-html .hljs-string { color: hsl(225, 72%, 75%); }
.hljs-comment { color: #aaa; }

.hljs-addition {
  color: hsl(102, 53%, 42%);
  background-color: hsl(120, 100%, 96%);
}

.hljs-deletion {
  color: hsl(14, 100%, 37%);
  background-color: hsl(0, 100%, 96%);
}

.hlt-wrapper { font-family: monospace; }
.guide .hlt-wrapper { color: transparent !important; }
.hlt-wrapper > :first-child { margin-top: 0; }
.hlt-wrapper > :last-child { margin-bottom: 0; }
.hlt-a { background-color: hsl(0, 95%, 85%); }
.hlt-b { background-color: hsl(60, 95%, 85%); }
.hlt-c { background-color: hsl(120, 95%, 85%); }
.hlt-d { background-color: hsl(300, 95%, 85%); }
.hlt-e { background-color: hsl(180, 95%, 85%); }
.hlt-f { background-color: hsl(30, 95%, 85%); }
.hlt-g { background-color: hsl(90, 95%, 85%); }

@media (max-width: 36em) {
  body {
    padding: 1rem;
  }

  .content {
    padding-left: 0;
    padding-right: 0;
  }

  .thumbnail {
    margin-left: 0;
    margin-right: 0;
  }

  .guide .window {
    display: none;
  }

  blockquote {
    margin-left: 0;
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  .thumbnail-content,
  .guide p {
    text-align: left;
  }
}
